@import "animate.min.css";
.nav-con a:hover{
    background:#337ab7;
}

.nav-con a{
    background:#dd4b39;
    color:white;
    margin-left:10px;
    padding:5px;
    margin-top:2px;
}

.nav-con{
    float:right;
}

.filter-con input{
    float:left;
}

.filter-item label{
    float:left;
    padding-right:20px;
    padding-top:2px;
}

.filter-item input[type='text']{
    border:2px solid white;

}

.filter-item{
    float:left;
}

.filter-con button[type='submit']:hover{
    background:#337ab7;
}
.bg-danger{background: #DD4B39}
.filter-con button[type='submit']{
    border:0;
    background:#dd4b39;
    color:white;
    float:left;
    padding:0px;
    padding:3px;
    padding-left:10px;
    padding-right:10px;
    margin-left:10px;

}

.filter-con{
    float:left;
    width:400px;
}

.nav-stacked>li.active>a, .nav-stacked>li.active>a:hover {

    border-left-color: #DD4B39 !important;
}
.mailbox-messages{min-height: 250px;}
.box{width:100%;clear:both; margin-top:0px;}
.container-button a{margin:5px;padding:3px;background: #dd4b39;color:#fff}
.container-button a:hover{margin:5px;padding:3px;background: #B13C2E;color:#fff}
.btn-submit{background-color: #d73925;color:#fff;}
.btn-submit:hover{background-color: #B13C2E;color:#fff}
.content{min-height: 500px !important}
a{color:#d73925 }
.btn.btn-back{background-color: #f4f4f4;color: #444;border-color: #ddd;}
.btn.btn-back:hover{background-color: #e7e7e7}
a:hover,a:focus,a:active{color:#B13C2E}
.drop-pagination{width:30px;min-width:40px !important;}
.pagination{margin:0px 10px 0px 0px !important;float:left;margin-right:10px;}
.box-header .btn{margin:0px 5px;}
.pagination li.active a{background: #DD4B39 !important;color:#fff !important;border:1px solid #DD4B39 !important;}
.pagination  a{color: #DD4B39 !important;}
.pagination li.disabled a{background: #fff !important;color:#666 !important;}
.box-header .form-group label{padding:0px 5px;}
.befor-padding{padding-left:10px !important;}
.wizerd-block select{
    width:100%;
}

.wizerd-block td,.wizerd-block th{
    padding-bottom:10px;
}

.wizerd-block{
    background:white;
    border-top:2px solid #dd4b39;
    padding-bottom:20px;
    min-height:370px;

}
.count-items-pagination{height: 30px;float: left;padding: 7px 10px 0px 0px;}


.block-title{
    margin-bottom:20px;
    width:100%;
    padding:10px;
    color:#dd4b39;
    font-size:16px;
}
@element 'a[data-switcher="SwitcherV"]' {
    $parent{text-align:center;}
}
a[data-switcher="SwitcherV"]{}
a[data-switcher="SwitcherV"]{cursor: pointer;font-size:20px;line-height:0px;}
a[data-switcher="SwitcherV"] .fa.fa-close{color:#DD4B39}
a[data-switcher="SwitcherV"] .fa.fa-check{color:#00A65A}
.form-generate-voila .form-group{float:left;width:100%;margin-bottom:0px;}
.form-generate-voila .hr{float:left;width:100%}
#sortable tr{cursor: move;}

.iconpicker-popover .popover-title,.iconpicker-popover .popover-content{float:left;}
.nopadding{padding: 0px !important}
.catFeatures{margin-bottom: 70px}
#breadcrumbs-one{
  margin: 0;
  padding: 0;
  list-style: none;
}#breadcrumbs-one{
  background: transparent;
 
  overflow: hidden;
  width: 100%;    margin-bottom: 25px;
}

#breadcrumbs-one li{
  float: left;border:1px solid #000;
}

#breadcrumbs-one a{
  padding: .7em 1em .7em 2em;
  float: left;
  text-decoration: none;
  color: #444;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
 background: #fff;
  background-image: linear-gradient(to right, #f5f5f5, #fff);  
}

#breadcrumbs-one li:first-child a{
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

#breadcrumbs-one a:hover{
   background-color: #ddd;  background-image: linear-gradient(to right, #f5f5f5, #ddd);  
}
.active-menue a{
   background-color: #ddd !important;  background-image: linear-gradient(to right, #f5f5f5, #ddd) !important;  
}
#breadcrumbs-one a::after,
#breadcrumbs-one a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

#breadcrumbs-one a::after{ 
  z-index: 2;
  border-left-color: #fff;  
}

#breadcrumbs-one a::before{
  border-left-color: #000;  
  right: -1.1em;
  z-index: 1; 
}

#breadcrumbs-one a:hover::after{
  border-left-color: #ddd;
}

.active-menue a::after{
  border-left-color: #ddd !important;
}

#breadcrumbs-one .current,
#breadcrumbs-one .current:hover{
  font-weight: bold;
  background: none;
}

#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before{
  content: normal;  
}
.float-pricing{margin-bottom: 20px !important;text-align: left !important}
.div-search div{    padding: 10px;
    border: 1px solid #000;
    width: 50%;    margin-bottom: 10px;}
.div-search a{float: right;font-size: 20px;}
.search-style{margin-bottom: 20px}
.div-search{min-height: 150px}
.addFromSearchAddons:hover{cursor: pointer}
.center-text{text-align: center}
#resultSearchAddOns{margin-top: 20px}

.btn-new{background-color: #fff;color:#d73925;border: 1px solid #d73925;    margin-right: 5px;
    margin-left: 5px;}
.btn-new:hover{background-color: #fff;color:#d73925}
.text-wrap{width:100% !important}
.code-style{width:86% !important;float: left}
.btn-generate-code{color: #d73925;
    border: 1px solid #d73925;
    padding: 6px;float:right}
#customer_code{height: 30px}

.faqctel.in{border-top: 1px solid #d73925}
.spin-waiting{    position: absolute;
    top: 7px;
    margin: auto;
    width: 100%;}
.stop-button{pointer-events: none}
#TablePricingDuration tr td:first-child{position: relative}
.remove-FAQ{float: right;
    padding-right: 10px;    margin-top: -14px;}
.faq-a{    margin-top: -14px;}
.addedFromModal{    background: #d73925;
    color: #fff;
    border: 1px solid #fff;}
.inputField{float:right;width:94% !important}
.overlay {
    background: #e9e9e9; 
    display: none;        
    position: absolute; 
    top: 0;               
    right: 0;              
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.Fieldtr td:first-child{position: relative}
.po-table thead{border-bottom-color:#dd4b39;color:#dd4b39 }
.po-table.table-bordered>thead>tr>th, .po-table.table-bordered>tbody>tr>th, .po-table.table-bordered>tfoot>tr>th, .po-table.table-bordered>thead>tr>td, .po-table.table-bordered>tbody>tr>td, .po-table.table-bordered>tfoot>tr>td{
        border: 1px solid #ccc !important
}
.nonedisplay{display: none}
.pointer_events{pointer-events: none}

.dashboard-box{clear:both;min-height: 264px;border:1px solid #dd4b39}

.dashboard-box > .panel-heading {
    color: #fff;
    background-color: #dd4b39;
    border-color: #DDD;
    border-radius: 0px;
    font-size:13px;clear:both
}
.dashboard-box > .panel-heading a{color:#fff}

.form-inline label{
    margin-top: 5px;
}
.form-inline .in-form-inline{
    padding:0px !important;
    margin:0px !important;
    position: inherit !important;
    float:right;
}