<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Maskoniah</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="dist/css/bootstrap.min_ltr.css" rel="stylesheet" type="text/css"/>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link href="dist/css/menu.css" rel="stylesheet" type="text/css"/>
        <script src="js/jquery.min.1.11.0.js" type="text/javascript"></script>
        <script src="dist/js/bootstrap.min.js" type="text/javascript"></script>
        <link href="bxslider/jquery.bxslider.css" rel="stylesheet" type="text/css"/>
        <script src="bxslider/jquery.bxslider.js" type="text/javascript"></script>
        <link href="font_awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <script src="js/colorGmap.js" type="text/javascript"></script>
        <script src="js/slimscroll.js" type="text/javascript"></script>
        <link href="effect/effeckt.css" rel="stylesheet" type="text/css"/>
        <link href="effect/demo_ltr.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        
        <div class="top-document"></div>
        <!-- header -->
        <div class="blocks">
            <div class="wrapper">
            <div class="header">
                <div class="col-sm-2">
                    <div class="logo">
                       <img src="images/logo.png" class="img-responsive"/>
                    </div>
                </div>
                <div class="col-sm-10">
                     <!-- Menu -->
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-inverse" role="navigation">
                      <div class="container-fluid">
                       
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>

                        </div>
                       
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav">

                            <li><a href="#">THE PATRARCH</a></li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">VISION & MISSION<span class="caret"></span></a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="#">THE PATRARCH</a></li>
                                <li><a href="#">VISION & MISSION</a></li>
                                <li><a href="#">DIRECTOR’S CORNER</a></li>            
                              </ul>
                            </li>
                            <li><a href="#">DIRECTOR’S CORNER</a></li>
                            <li><a href="#">PROGRAMS</a></li>
                            <li><a href="#">MEDIA</a></li>
                            <li><a href="#">NEWS</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>        
                            <li><button type="button" class="btn btn_mouve btn_mouve_top">Donate</button></li>
                          </ul>


                        </div><!-- /.navbar-collapse -->
                      </div><!-- /. Menu  -->
                    </nav>
                </div>
            </div>            
        </div> 
        </div>
        <!-- /header-->
        
        <!--slider -->
        <div class="slider">
        <ul id="bxslider">
            <li>
                <img src="images/slide1.jpg">
                <div class="wrapper" style="direction: rtl">
                    <div class="details_slide">
                        <h1>Success Stories</h1>
                        <p>Here goes story No01</p>
                        <a class="more_slider">Read More &nbsp; >></a>
                    </div>
                </div>
            </li>
            <li><img src="images/slide2.jpg"></li>
        </ul>
        </div>
        <script>
            $(document).ready(function(){
               $('#bxslider').bxSlider();
        });
            </script>
        <!-- /slider-->
        
        <!-- about -->
        <div class="blocks">
            <div class="wrapper ">
            <div class="row rp about" style="width:100%">
                <div class="col-sm-5" style="text-align: center">
                <img src="images/image.jpg" class="img-responsive" style="display:inline">
            </div>
            <div class="col-sm-6">
                <div class="about_home">
                        <p>A countless number of Christians and Muslims are victims of the violence
        the hospitals are full with injuries and the pain is endless. Syrians, in spite
        of their religious backgrounds, have the right to live in their country with</p>
                        <p>
                            A countless number of Christians and Muslims are victims of the violence
        the hospitals are full with injuries and the pain is endless. Syrians, in spite
        of their religious backgrounds, have the right to live in their country with
                        </p>
                        <p>
                            A countless number of Christians and Muslims are victims of the violence
        the hospitals are full with injuries and the pain is endless. Syrians, in spite
        of their religious backgrounds, have the right to live in their country with
                        </p>
                        <p></p>
                        <p>Latest Message from Patriarch John X. February 12,2014. Category: Faith</p>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- /.About -->
        
        <!-- widget & news-->
        <div class="blocks" style="margin-bottom: 20px;">
            <div class="wrapper ">
            <div class="row rp" style="width:100%">
                <div class="col-sm-5" >
                    <div class="widget border_bottom">
                        <p>The Department of Ecumenical Relations and Development (DERD) is a nonprofit organization belonging to the Greek Orthodox Patriarchate of Antioch and All the East. DERD operates from the Patriarchate located in the old city of Damascus.
In 1986, the Patriarchate formed a department to strongly focus on fundraising and development activities to finance several Patriarchal community projects.  His Beatitude Patriarch Ignatius IV Patriarch of Antioch and all the East requested Engineer Samer Laham to be in charge of this department .....  More >></p>
                    </div>
                    <div class="widget">
                        <h2>“ In the same way, let your light shine before others, that they may see your good deeds and glorify your Father in heaven”

</h2>
                    </div>
                    
            </div>
            <div class="col-sm-7">
                <div class="col-sm-6">
                    <div class="block_news">
                        <div class="image">
                            <img src="images/image1.jpg">
                        </div>
                        <div class="col-sm-12 nopadding">
                            <div class="col-sm-3 nopadding left_ne">
                                <span class="big">23</span><br>
                                <span class="small">23,2009</span><br>
                                <ul class="social">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google"></span></a></li>
                                </ul>
                            </div>
                            <div class="col-sm-9 nopadding">
                                <div class="right_ne">
                                <h3>Since the beginning of Iraqi war, many families safety and stability.
</h3>
                                <p>On May 1, the Department organized a large barbeque <a href="#" class="more">>> more</a> </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="col-sm-6">
                    <div class="block_news">
                        <div class="image">
                            <img src="images/image2.jpg">
                        </div>
                        <div class="col-sm-12 nopadding">
                            <div class="col-sm-3 nopadding left_ne">
                                <span class="big">23</span><br>
                                <span class="small">23,2009</span><br>
                                <ul class="social">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google"></span></a></li>
                                </ul>
                            </div>
                            <div class="col-sm-9 nopadding">
                                <div class="right_ne">
                                <h3>Since the beginning of Iraqi war, many families safety and stability.
</h3>
                                <p>On May 1, the Department organized a large barbeque <a href="#" class="more">>> more</a> </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            </div>
        </div>
        </div>
        <!-- /.Widget & NEWS -->
        
        <!-- map -->
        <div class="blocks our_program">
            <div class="wrapper" style="direction: rtl;">
                <h1>OUR PROGRAM</h1>
                
                
<div class="map-canvas" id="map-canvas" style="width:100%;height:500px;"></div>
<div class="program">
    <h1>LOREN IPSUM</h1>
    <img src="images/image3.jpg" class="img-responsive">
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
    <div>
        <a href="" class='nav-right'><span class='fa fa-angle-right'/></a>
        <a href="" class='nav-left'><span class='fa fa-angle-left'/></a>
    </div>
    
</div>
            </div>
        </div>
        <!-- /map-->
        
        <!--videos-->
        
        <div class="blocks ">
            <div class="wrapper" >
                <div class="videos">
                    <div class="col-sm-8">
                        <div class="col-sm-4">
                            <div class="item_video">
                                <img src="images/vid.jpg"/>
                                <h2>DERD Film on the opening of the House of Opera </h2>
                                <p>DERD Film on the opening of the House of Opera </p>
                                <p>
                                    <a class="share"><span class='fa fa-share-alt'></span>&nbsp;Share</a>
                                    <a class="social"><span class='fa fa-facebook'></span></a>
                                    <a class="social"><span class='fa fa-twitter'></span></a>
                                    <a class="social"><span class='fa fa-google-plus'></span></a>

                                </p>
                            </div>                            
                        </div>
                        <div class="col-sm-4">
                            <div class="item_video">
                                <img src="images/vid.jpg"/>
                                <h2>DERD Film on the opening of the House of Opera </h2>
                                <p>DERD Film on the opening of the House of Opera </p>
                                <p>
                                    <a class="share"><span class='fa fa-share-alt'></span>&nbsp;Share</a>
                                    <a class="social"><span class='fa fa-facebook'></span></a>
                                    <a class="social"><span class='fa fa-twitter'></span></a>
                                    <a class="social"><span class='fa fa-google-plus'></span></a>

                                </p>
                            </div>                            
                        </div>
                        <div class="col-sm-4">
                            <div class="item_video">
                                <img src="images/vid.jpg"/>
                                <h2>DERD Film on the opening of the House of Opera </h2>
                                <p>DERD Film on the opening of the House of Opera </p>
                                <p>
                                    <a class="share"><span class='fa fa-share-alt'></span>&nbsp;Share</a>
                                    <a class="social"><span class='fa fa-facebook'></span></a>
                                    <a class="social"><span class='fa fa-twitter'></span></a>
                                    <a class="social"><span class='fa fa-google-plus'></span></a>

                                </p>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img src="images/video.png" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        
        
        <!--/videos-->
        <!-- join us -->
        <div class="blocks joo">
            <div class="wrapper" style="padding: 0px !important;">
                <div class="join-us">
                    <div class="joo_giv_hand">
                        <img src="images/give_hand.png" class='img-responsive'>
                    </div>
                    <div class="joo_giv_details">
                        <p>
                            DERD works in various fields, including construction, renovation, agriculture, capacity building, relief and development, education, dialogue, ecumenical relations, similar agency partnerships, and safeguarding of Antiochian heritage
                        </p>                            
                    </div>
                    <button type="button" class="btn btn_mouve joo_btn">Join Us</button>
                </div>
            </div>
        </div>
        <!-- /.join us -->
        
        
        <!-- Gallery  -->
        <div class="blocks ">
            <div class="wrapper" >
                <div class="galery">
                    <h1>PHOTO GALLERIES</h1>
                    <div>
                       
                        <a href="" class='nav-left'><span class='fa fa-angle-left'/></a>
                        <a href="" class='nav-right'><span class='fa fa-angle-right'/></a>
                    </div>
                    
                    <div class="row" style="width:100%;float:left">
                        <div class="col-sm-4">
                           <figure class="effeckt-caption" data-effeckt-type="cover-fade">
                            <img src="images/g1.jpg" alt="">
                            <figcaption>
                              <div class="effeckt-figcaption-wrap">
                                <button class='btn btn-more-gal'>View More</button>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                        <div class="col-sm-4">
                          <figure class="effeckt-caption" data-effeckt-type="cover-fade">
                            <img src="images/g2.jpg" alt="">
                            <figcaption>
                              <div class="effeckt-figcaption-wrap">
                                <button class='btn btn-more-gal'>View More</button>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                        <div class="col-sm-4">
                            <figure class="effeckt-caption" data-effeckt-type="cover-fade">
                            <img src="images/g3.jpg" alt="">
                            <figcaption>
                              <div class="effeckt-figcaption-wrap">
                                <button class='btn btn-more-gal'>View More</button>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                        <div class="col-sm-4">
                           <figure class="effeckt-caption" data-effeckt-type="cover-fade">
                            <img src="images/g4.jpg" alt="">
                            <figcaption>
                              <div class="effeckt-figcaption-wrap">
                                <button class='btn btn-more-gal'>View More</button>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                        <div class="col-sm-4">
                           <figure class="effeckt-caption" data-effeckt-type="cover-fade">
                            <img src="images/g5.jpg" alt="">
                            <figcaption>
                              <div class="effeckt-figcaption-wrap">
                                <button class='btn btn-more-gal'>View More</button>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                        <div class="col-sm-4">
                           <figure class="effeckt-caption" data-effeckt-type="cover-fade">
                            <img src="images/g6.jpg" alt="">
                            <figcaption>
                              <div class="effeckt-figcaption-wrap">
                                <button class='btn btn-more-gal'>View More</button>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
            </div>
        </div>
       
        <!-- /.Gallery -->
        
        <div class="blocks footer">
            <div class="wrapper">
                <div class="col-md-3 block-footer foot1">
                    <div class='col-xs-4'>
                        <img src="images/logo-footer.png">
                    </div>
                    <div class='col-xs-8'>
                        <ul class='menu-footer'>
                            <li><a href='#'>link1 link1</a></li>
                            <li><a href='#'>link1link1</a></li>
                            <li><a href='#'>link1link1</a></li>
                            <li><a href='#'>link1link1</a></li>
                            <li><a href='#'>link1link1</a></li>
                            
                        </ul>
                    </div>

                </div>            
                <div class="col-md-3 block-footer border foot2">
                    <h1>Contact Us</h1>
                    <p class="cont">
                        Medhat Basha Street,
+963-11 Damascus, Syria
                    </p>
                    <p></p>
                    <p class="cont">
                        Medhat Basha Street,
+963-11 Damascus, Syria
                    </p>
                    <p>
                        <a href='' class='readmorefooter'>Get Direction on Google Map</a>
                    </p>

                </div>            
                <div class="col-md-3 block-footer border foot2">
                    <h1>Main Links</h1>
                     <ul class='menu-footer2'>
                            <li><a href='#'>link1 link1</a></li>
                            <li><a href='#'>link1link1</a></li>
                            <li><a href='#'>link1link1</a></li>
                            <li><a href='#'>link1link1</a></li>
                            <li><a href='#'>link1link1</a></li>
                            
                        </ul>

                </div> 
                <div class="col-md-3 block-footer foot3">
                    <div class="flowus">
                        <span class='follow'>Follow Us: </span>
                        <a href='#'><span class='fa fa-facebook'></span></a>
                        <a href='#'><span class='fa fa-twitter'></span></a>
                        <a href='#'><span class='fa fa-google-plus'></span></a>
                        
                              
                        
                    </div>
                    <div class="copyright">
                        © 1998–2014 DERD All rights reserved. Made with Love by Voila 
                    </div>

                </div> 
            </div>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
var map;
function initialize() {
  var mapOptions = {
    zoom: 7,
    center: new google.maps.LatLng(34.6352615,39.6452072),
    styles:gray
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    </body>
</html>
