
.iconc-compare:before { content: '\e800'; } /* '' */
.iconc-compare-plus:before { content: '\e801'; } /* '' */
.iconc-cart-plus:before { content: '\e802'; } /* '' */
.iconc-cart:before { content: '\e803'; } /* '' */
.iconc-more1:before { content: '\e804'; } /* '' */