
@font-face {
  font-family: 'Microsoft-Yi-Baiti';
  src: url('Microsoft-Yi-Baiti.eot?#iefix') format('embedded-opentype'),  url('Microsoft-Yi-Baiti.woff') format('woff'), url('Microsoft-Yi-Baiti.ttf')  format('truetype'), url('Microsoft-Yi-Baiti.svg#Microsoft-Yi-Baiti') format('svg');
  font-weight: normal;
  font-style: normal;
}
